// Customize Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;

// Import Bootstrap from node_modules
@import '../node_modules/bootstrap/scss/bootstrap';

// All Custom Code
body {
	background-color: #f6f6f6;
	width: 100vw;
	min-height: 100vh;
}

.li-bar {
	width: 1px;
	background-color: #c5c4c4;
	height: 1rem;
}

.nav-icon {
	color: rgba(0, 0, 0, 0.55);
	font-size: 1.3rem;
}

.nav-item {
	cursor: pointer;
}

.custom-dropdown {
	position: relative;
}

.custom-dropdown:hover ul {
	display: block;
}

.custom-dropdown ul {
	display: none;
	min-width: 100px;
	position: absolute;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
	padding: 1rem;
	border-radius: 0.15rem;
	margin-top: 0.5rem;
}

#main-carousel .carousel-inner {
	height: 500px;
}

.carousel-control-prev {
	left: -15rem;
}

.carousel-control-next {
	right: -15rem;
}

.carousel-control-prev,
.carousel-control-next {
	filter: invert(100%);
}

.carousel-item {
	height: 100%;
	background-color: #f6f6f6;
}

.carousel-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.carousel-content div {
	flex: 1;
}

.carousel-text h1 {
	font-size: 5rem;
	line-height: 6rem;
	font-weight: 400 !important;
}

.btn-cta {
	padding: 0.8rem 3rem;
	border-radius: 0;
	border: none;
	outline: none;
	border: 1px solid #000;
	margin-top: 2rem;
}

.carousel-img {
	display: flex;
	justify-content: flex-end;
}
