// Customize Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;

// Import Bootstrap from node_modules
@import '../node_modules/bootstrap/scss/bootstrap';

// All Custom Code
body {
	background-color: #f6f6f6;
	width: 100vw;
	min-height: 100vh;
}

.li-bar {
	width: 1px;
	background-color: #c5c4c4;
	height: 1rem;
}

.nav-icon {
	color: rgba(0, 0, 0, 0.55);
	font-size: 1.3rem;
}

.nav-item {
	cursor: pointer;
}

.custom-dropdown {
	position: relative;
}

.custom-dropdown:hover ul {
	display: block;
}

.custom-dropdown ul {
	display: none;
	min-width: 100px;
	position: absolute;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
	padding: 1rem;
	border-radius: 0.15rem;
	margin-top: 0.5rem;
}

#main-carousel .carousel-inner {
	height: 500px;
}

.carousel-control-prev {
	left: -15rem;
}

.carousel-control-next {
	right: -15rem;
}

.carousel-control-prev,
.carousel-control-next {
	filter: invert(100%);
}

.carousel-item {
	height: 100%;
	background-color: #f6f6f6;
}

.carousel-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.carousel-content div {
	flex: 1;
}

.carousel-text h1 {
	font-size: 5rem;
	line-height: 6rem;
	font-weight: 400 !important;
}

.btn-cta {
	padding: 0.8rem 3rem;
	border-radius: 0;
	border: none;
	outline: none;
	border: 1px solid #000;
	margin-top: 2rem;
}

.carousel-img {
	display: flex;
	justify-content: flex-end;
}


// Featured banners
.single-banner {
	border: 4px solid #fff;
	position: relative;
	overflow: hidden;
	margin: 6rem 0;

	img {
		width: 100%;
		transition: all .5s ease 0s;
		transform: scale(1);
	}

	.banner-content {
		position: absolute;
		content: "";
		top: 40px;
		left: 36px;

		h3 {
			margin: 0;
			font-family: Cormorant Garamond;
			font-size: 36px;
			font-weight: 600;
			line-height: 30px;
			color: #617D05;
		}

		h4 {
			margin: 3px 0 58px;
			font-family: Cormorant Garamond;
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
			color: #010101;
		}

		span {
			display: inline-block;
			margin-left: 2px;
			font-size: 20px;
			line-height: 1;
			color: #617D05;
			position: relative;
			top: 2px;
		}

		a {
			display: inline-block;
			width: 28px;
			height: 28px;
			border: 2px solid #617D05;
			border-radius: 100%;
			font-size: 16px;
			text-align: center;
			color: #617D05;
		}

		a > i {
			line-height: 32px;
		}
	}

	&:hover a img {
		transform: scale(1.2)
	}
}

// daily deals section title
.section-title {
	h2 {
		font-size: 30px;
		font-weight: 600;
		text-transform: uppercase;
		display: inline-block;
		margin: 0;
		line-height: 36px;
		position: relative;

		&:before,
		&:after {
			position: absolute;
			top: 17px;
			width: 80px;
			height: 2px;
			content: "";
			background-color: #000;
		}

		&:before {
			left: -100px;
		}

		&:after {
			right: -100px;
		}
	}
}

// daily deals product tab list
.product-tab-list {
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 55px;

	.nav-link {
		background-color: transparent !important;
		margin: 0 12px;
		display: block;
		padding: 8px 16px;
	}

	a.active h4, a h4:hover {
		color: #000;
	}

	a h4 {
		font-size: 18px;
		font-weight: 500;
		margin: 0;
		transition: all 0.3s ease 0s;
		color: #555;
		line-height: 24px;
	}
}