// Customize Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;

// Import Bootstrap from node_modules
@import '../node_modules/bootstrap/scss/bootstrap';

// All Custom Code
body {
	background-color: #f6f6f6;
	width: 100vw;
	min-height: 100vh;
}

.li-bar {
	width: 1px;
	background-color: #c5c4c4;
	height: 1rem;
}

.nav-icon {
	color: rgba(0, 0, 0, 0.55);
	font-size: 1.3rem;
}

.nav-item {
	cursor: pointer;
}

.custom-dropdown {
	position: relative;
}

.custom-dropdown:hover ul {
	display: block;
}

.custom-dropdown ul {
	display: none;
	min-width: 100px;
	position: absolute;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
	padding: 1rem;
	border-radius: 0.15rem;
	margin-top: 0.5rem;
}

#main-carousel .carousel-inner {
	height: 500px;
}

.carousel-control-prev {
	left: -15rem;
}

.carousel-control-next {
	right: -15rem;
}

.carousel-control-prev,
.carousel-control-next {
	filter: invert(100%);
}

.carousel-item {
	height: 100%;
	background-color: #f6f6f6;
}

.carousel-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.carousel-content div {
	flex: 1;
}

.carousel-text h1 {
	font-size: 5rem;
	line-height: 6rem;
	font-weight: 400 !important;
}

.btn-cta {
	padding: 0.8rem 3rem;
	border-radius: 0;
	border: none;
	outline: none;
	border: 1px solid #000;
	margin-top: 2rem;
}

.carousel-img {
	display: flex;
	justify-content: flex-end;
}


// Featured banners
.single-banner {
	border: 4px solid #fff;
	position: relative;
	overflow: hidden;
	margin: 6rem 0;

	img {
		width: 100%;
		transition: all .5s ease 0s;
		transform: scale(1);
	}

	.banner-content {
		position: absolute;
		content: "";
		top: 40px;
		left: 36px;

		h3 {
			margin: 0;
			font-family: Cormorant Garamond;
			font-size: 36px;
			font-weight: 600;
			line-height: 30px;
			color: #617D05;
		}

		h4 {
			margin: 3px 0 58px;
			font-family: Cormorant Garamond;
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
			color: #010101;
		}

		span {
			display: inline-block;
			margin-left: 2px;
			font-size: 20px;
			line-height: 1;
			color: #617D05;
			position: relative;
			top: 2px;
		}

		a {
			display: inline-block;
			width: 28px;
			height: 28px;
			border: 2px solid #617D05;
			border-radius: 100%;
			font-size: 16px;
			text-align: center;
			color: #617D05;
		}

		a > i {
			line-height: 32px;
		}
	}

	&:hover a img {
		transform: scale(1.2)
	}
}

// daily deals section title
.section-title {
	h2 {
		font-size: 30px;
		font-weight: 600;
		text-transform: uppercase;
		display: inline-block;
		margin: 0;
		line-height: 36px;
		position: relative;

		&:before,
		&:after {
			position: absolute;
			top: 17px;
			width: 80px;
			height: 2px;
			content: "";
			background-color: #000;
		}

		&:before {
			left: -100px;
		}

		&:after {
			right: -100px;
		}
	}
}

// daily deals product tab list
.product-tab-list {
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 55px;

	.nav-link {
		background-color: transparent !important;
		margin: 0 12px;
		display: block;
		padding: 8px 16px;
	}

	a.active h4, a h4:hover {
		color: #000;
	}

	a h4 {
		font-size: 18px;
		font-weight: 500;
		margin: 0;
		transition: all 0.3s ease 0s;
		color: #555;
		line-height: 24px;
	}
}

// daily deals tab content
.product-wrap {
	position: relative;
	margin-bottom: 25px;

	a {
		line-height: inherit;
		cursor: pointer;
		text-decoration: none;
		color: #000;
	}

	.product-img {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
		}

		.hover-img {
			position: absolute;
			top: 0;
			left: 50%;
			visibility: hidden;
			opacity: 0;
			transition-duration: 0.7s;
			transform: translate(-50%, 20px);
		}

		.product-img-badges {
			position: absolute;
			top: 12px;
			right: 12px;

			span {
				font-size: 13px;
				font-weight: 500;
				line-height: 1;
				display: block;
				margin-bottom: 10px;
				padding: 3px 10px;
				color: #fff;
				border-radius: 3px;
			}

			span:last-child {
				margin-bottom: 0;
			}

			.pink {
				background-color: #fa6bff;
			}

			.purple {
				background-color: #a749ff;
			}
		}

		.product-action {
			position: absolute;
			z-index: 9;
			bottom: 0px;
			left: 50%;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			transform: translateX(-50%);

			.pro-same-action {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 48px;
				background-color: #a749ff;
				transition: all 0.5s ease;
				transform: translateY(20px);
				visibility: hidden;
				opacity: 0;


				button {
					font-size: 16px;
					line-height: 48px;
					display: block;
					width: 100%;
					height: 48px;
					text-align: center;
					text-transform: capitalize;
					color: #fff;
					border: none;
					background: none;
				}

				button:hover {
					background-color: #000;
				}
			}

			.pro-wishlist {
				width: 48px;
				border-right: 1px solid hsla(0, 0%, 100%, 0.2);
			}

			.pro-cart {
				font-size: 14px;
				width: calc(100% - 96px);
				transition-delay: 0.1s;
			}

			.pro-quickview {
				width: 48px;
				margin: 0;
				transition-delay: 0.2s;
				border-left: 1px solid hsla(0, 0%, 100%, 0.2);
			}
		}
	}

	.product-content {
		margin-top: 20px;

		h3 {
			font-size: 16px;
			margin: 0;
		}

		.product-rating {
			margin: 3px 0;
		}

		.yellow {
			color: #ffa900;
		}

		.gray {
			color: #5f5d5d;
		}

		.product-price span {
			font-size: 15px;
			font-weight: 500;
			position: relative;
			margin: 0 9px;
			color: #000;
		}

		.product-price span:after {
			position: absolute;
			top: 10px;
			right: -13px;
			width: 7px;
			height: 2px;
			content: "";
			background-color: #000;
		}

		.product-price span.old {
			text-decoration: line-through;
			color: #8e8e8e;
		}

		.product-price span.old:after {
			content: "";
			display: none;
		}
	}

	&:hover .hover-img {
		visibility: visible;
		opacity: 1;
		transform: translate(-50%, -20px);
	}

	&:hover .product-action > .pro-same-action {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}
}

// support wrap
.support-wrap {
	padding: 36px 10px 30px;
	border: 4px solid #fff;
	margin: 60px 0;

	.animated {
		animation-duration: 1s;
		animation-fill-mode: both;
	}

	@keyframes icon-animation {
		0% {
			transform: scaleX(1)
		}
		10%, 20% {
			transform: scale3d(.9, .9, .9) rotate(-3deg);
		}
		30%, 50%, 70%, 90% {
			transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
		}
		40%, 60%, 80% {
			transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
		}
		100% {
			transform: scaleX(1)
		}
	}

	&:hover .animated {
		animation: icon-animation 0.5s ease-in-out 0s 1 normal none running;
	}

	h4 {
		font-size: 18px;
		line-height: 24px;
		color: #494949;
		margin: 15px 0;
	}

	p {
		font-size: 14px;
		width: 80%;
		color: #6a6a6a;
		margin: 0 auto;
	}
}